* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  /* height: 60px; */
  top: 0;
  /* right: 0; */
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  padding: 16px 8px;

  background-color: cornflowerblue;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.input {
  min-width: 200px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.btn {
  cursor: pointer;
  border-radius: 4px;
  height: 30px;
  border: 1px solid transparent;
  background-color: rgb(238, 238, 238);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.gallery {
  position: relative;
  padding: 0 10px;
  padding-top: 150px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  align-items: stretch;
}

@media only screen and (min-width: 435px) {
  .gallery {
    padding-top: 110px;
  }
}

@media only screen and (min-width: 643px) {
  .gallery {
    padding-top: 70px;
  }
}

.photo-card {
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  flex-basis: 100%;

  border: 1px solid gray;
}

@media only screen and (min-width: 560px) {
  .photo-card {
    flex-basis: calc((100% - 15px) / 2);
  }
}

@media only screen and (min-width: 800px) {
  .photo-card {
    flex-basis: calc((100% - 30px) / 3);
  }
}

@media only screen and (min-width: 1100px) {
  .photo-card {
    flex-basis: calc((100% - 45px) / 4);
  }
}

.photo-link {
  display: block;
  text-decoration: none;
  /* height: 100%; */
}

.photo-link:hover {
  cursor: zoom-in;
}

.photo-img {
  display: block;
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
}

.info {
  display: flex;
  padding: 4px;
  justify-content: space-between;
}

.info-item {
  text-align: center;
  margin: 8px 0;
}

.info-item b {
  display: block;
}

.load-more {
  display: block;
  visibility: hidden;
  margin: 15px auto;
}
